.root {
  display: flex;
  align-items: center;
  padding: 5px;
}
.root.selected {
  background-color: var(--highlight-bg-color);
  color: var(--highlight-text-color);
}
.root.disabled {
  opacity: 0.5;
}

.shortcut {
  color: var(--accent-text-color);
  margin-right: 3px;
  font-weight: 600;
}
.root.selected .shortcut {
  color: var(--highlight-text-color);
}

.text {
  white-space: nowrap;
  color: var(--primary-text-color);
}

.root.selected .text {
  color: var(--highlight-text-color);
}
