.root {
  padding: 7px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.root[data-selected] {
  background-color: var(--highlight-bg-color);
  color: var(--highlight-text-color);
}
.root.disabled {
  opacity: 0.5;
}

.checkbox {
  border: 2px solid var(--primary-text-color);
  height: 15px;
  width: 15px;
  border-radius: 0px;
  background: var(--app-bg-color);
}
.checkbox.on {
  background: var(--app-accent-color);
}
