.root {
  display: flex;
  align-items: center;
  padding: 7px 5px;
}
.root.selected {
  background-color: var(--highlight-bg-color);
  color: var(--highlight-text-color);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  flex: 1;
}
