.root {
  position: relative;
  border: 3px solid var(--active-control-color);
  height: 34px;
  width: 80px;
}
.root.disabled {
  border: 3px solid var(--disabled-control-color);
}

.background {
  height: 100%;
  width: 100%;
}
.root.on .background {
  background-color: var(--app-accent-color);
  border: 3px solid var(--app-bg-color);
}
.root.on.disabled .background {
  background-color: var(--disabled-control-color);
  border: 3px solid var(--app-bg-color);
}

.handle {
  position: absolute;
  background-color: var(--active-control-color);
  height: 40px;
  width: 20px;
  top: -6px;
  left: -6px;
  border-left: 3px solid var(--app-bg-color);
  border-right: 3px solid var(--app-bg-color);
  transition: transform 100ms;
}

.root.on .handle {
  transform: translateX(66px);
}
.root.disabled .handle {
  background-color: var(--disabled-control-color);
}
