.details {
  padding: 10px;
}

.logo {
  height: 120px;
  width: 120px;
  margin-bottom: 10px;
}

.title {
  color: var(--primary-text-color);
  font-size: 17px;
  font-weight: bold;
}

.date {
  color: var(--accent-text-color);
  margin: 5px 0;
}

.author {
  color: var(--secondary-text-color);
}

.accent {
  color: var(--accent-text-color);
}
