.content {
  padding: 10px;
  text-align: center;
}

.logo {
  width: 100%;
  margin-bottom: 10px;
}

.title {
  color: var(--primary-text-color);
  font-weight: bold;
  padding: 0 5px;
  margin-bottom: 5px;
}

.author {
  color: var(--secondary-text-color);
}
