.content {
  padding: 10px;
  text-align: center;
}

.logo {
  width: 100%;
  margin-bottom: 10px;
}

.title {
  color: var(--primary-text-color);
  font-size: 17px;
  font-weight: bold;
}

.author {
  color: var(--secondary-text-color);
}
