.details {
  padding: 10px;
}

.logo {
  width: 80%;
  margin-bottom: 10px;
}

.title {
  color: var(--primary-text-color);
  font-size: 17px;
  font-weight: bold;
}

.author {
  color: var(--accent-text-color);
  margin: 5px 0 10px 0;
}

.message {
  text-align: center;
}
