.root {
  background-size: 120vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.backdrop {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.scrim {
  background-color: rgba(0, 0, 0, 0.7);
}

.root.noHeader,
body[data-compact-layout] .root.noHeader {
  padding-top: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.content {
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.75);
}

.menubar {
  position: fixed;
  bottom: 0;
  left: 0;
}

@media only screen and (min-width: 241px) {
  .root {
    background-size: 100vw;
  }
}
