.root {
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  padding: 0px 5px 5px 5px;
}

.tab {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 1.8rem;
  margin-right: 7px;
}
.tab.selected {
  color: var(--primary-text-color);
}
