.root {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  border-bottom: 1px solid var(--divider-color);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px 1px 5px;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
}
