.root {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1px 5px;
  background-color: var(--menubar-bg-color);
  color: var(--menubar-text-color);
  font-weight: bold;
  font-size: 12px;
}

.root > div {
  flex: 1;
}

.root > .left {
  text-align: left;
}
.root > .center {
  text-align: center;
  text-transform: uppercase;
}
.root > .right {
  text-align: right;
}
