.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.title {
  background-color: var(--header-bg-color);
  color: var(--header-text-color);
  padding: 0 5px 3px 5px;
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid var(--divider-color);
}

.content {
  background-color: var(--menu-bg-color);
  color: var(--menu-text-color);
  border-top: 2px solid var(--app-accent-color);
  overflow-y: auto;
  overflow-x: hidden;
}

.option {
  padding: 5px;
  font-size: 17px;
  display: flex;
  align-items: center;
}
[data-selected].option {
  background-color: var(--highlight-bg-color);
  color: var(--highlight-text-color);
}
.option.disabled {
  opacity: 0.5;
}
body[data-compact-layout] .option {
  padding: 3px 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.shortcut {
  font-size: 17px;
  font-weight: 300;
  margin-right: 5px;
  color: var(--app-accent-color);
}
[data-selected] > .shortcut {
  color: var(--highlight-text-color);
}
