.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  background-color: var(--menu-bg-color);
  color: var(--menu-text-color);
}

.options {
  flex: 1;
}

.option {
  padding: 3px 5px;
  display: flex;
  align-items: center;
}
.option[data-selected] {
  background-color: var(--highlight-bg-color);
  color: var(--highlight-text-color);
}
.option.disabled {
  opacity: 0.5;
}

.shortcut {
  font-size: 1.7rem;
  font-weight: 300;
  margin-right: 5px;
  color: var(--accent-text-color);
}
[data-selected] > .shortcut {
  color: var(--highlight-text-color);
}

.bar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5px;
  height: 28px;
  font-weight: bold;
}
