.root {
  display: flex;
  align-items: center;
  /* height: 30px; */
  width: 100vw;
  padding: 2px 5px;
  background-color: var(--menubar-bg-color);
  color: var(--menubar-text-color);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.root > div {
  flex: 1;
}

.root > .left {
  text-align: left;
}
.root > .center {
  text-align: center;
}
.root > .right {
  text-align: right;
}
