.root {
}

.header {
  position: fixed;
  top: 0;
  left: 0;
}

.content {
  overflow-x: hidden;
  padding: 28px 0;
}
body[data-compact-layout] .content {
  padding: 18px 0;
}

.menubar {
  position: fixed;
  bottom: 0;
  left: 0;
}
