.root {
  padding: 28px 0;
  background-size: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
}
body[data-compact-layout] .root {
  padding: 18px 0;
}

.root.noHeader,
body[data-compact-layout] .root.noHeader {
  padding-top: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.content {
  overflow-x: hidden;
}

.menubar {
  position: fixed;
  bottom: 0;
  left: 0;
}
