.root {
  position: fixed;
  left: 0px;
  top: 100%;
  width: 100%;
  background-color: var(--menubar-bg-color);
  color: var(--menubar-text-color);
  transform: translateY(-28px);
  transition: transform 250ms;
}
.root.open {
  transform: translateY(-100%);
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
  height: 28px;
  font-weight: bold;
  background-color: var(--app-accent-color);
}

.actions {
  padding: 5px 0;
}
