html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: var(--app-bg-color);
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: var(--primary-text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  --app-bg-color: #fff;
  --app-accent-color: #ec5817;
  --app-accent-dark-color: #d04a11;

  --primary-text-color: rgba(0, 0, 0, 0.88);
  --secondary-text-color: rgba(0, 0, 0, 0.5);
  --accent-text-color: var(--app-accent-color);
  --light-text-color: rgba(255, 255, 255, 0.88);
  --accent-light-text-color: rgba(255, 255, 255, 0.88);
  --accent-dark-text-color: rgba(255, 255, 255, 0.88);

  --divider-color: rgba(0, 0, 0, 0.15);

  --highlight-bg-color: var(--app-accent-color);
  --highlight-text-color: var(--accent-light-text-color);

  --header-bg-color: var(--app-accent-dark-color);
  --header-text-color: rgba(255, 255, 255, 0.88);

  --menu-bg-color: var(--app-bg-color);
  --menu-text-color: var(--primary-text-color);

  --menubar-bg-color: #000;
  --menubar-text-color: #fff;

  --input-border-color: #aaa;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0.5rem 0;
  padding: 0;
}
