/**
 * ===========================
 * **************** Agenda ***
 *
 *  1. Basic
 *  2. Fonts
 *  3. Header
 *  4. Separator
 *  5. Software key
 *  6. Toast
 *  7. Lists
 *  8. Options menu
 *  9. Button
 * 10. Input
 * 11. Table
 * ===========================
 */

/* ============== Basic ============== */
h1,
h2,
h3,
h4,
h5,
ul,
p {
    margin: 0;
    padding: 0;
}

#kui-app {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
}

.view-container {
    overflow: hidden;
}

.view-container > .view-content {
    margin-bottom: 35px;
}
.view-container > .view-content.padded {
    padding: 10px;
}

.content-area {
    overflow: hidden;
    position: relative;
    padding: 5px;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    display: none;
}

.offset-key-labels {
    margin-bottom: 35px;
}

/* ============== Fonts ============== */
.kui-h1 {
    font-size: 17px;
    font-weight: 300;
}

.kui-h2 {
    font-size: 17px;
    font-weight: 600;
}

.kui-h3,
.kui-h4,
.kui-sec {
    font-size: 14px;
    font-weight: 400;
}

.kui-h5 {
    font-size: 14px;
    font-weight: 600;
}

.kui-pri,
.kui-text,
.kui-btn,
.kui-link {
    font-size: 17px;
    font-weight: 400;
}

.kui-thi {
    font-size: 12px;
    font-weight: 400;
}

.kui-key-mid {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

/* ============== Header ============== */
.kui-header {
    height: 2.8rem;
    line-height: 2.4rem;
    background-color: var(--accent-dark-bg-color);
    color: var(--accent-dark-text-color);
    text-align: center;
    overflow: hidden;
    padding: 0 1rem;
}

.kui-header > h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ============== Separator ============== */
.kui-separator {
    color: var(--separator-text-color);
    height: 2.4rem;
    background-color: var(--separator-bg-color);
    line-height: 2.4rem;
    padding: 0 1rem;
}

/* ============== Software key ============== */
.kui-software-key {
    height: 30px;
    background-color: var(--software-key-bg-color);
    display: flex;
    align-items: center;
    padding: 0 5px;
    color: var(--software-key-text-color);
    width: 100vw;
}

.kui-software-key.bottom {
    position: fixed;
    bottom: 0;
}

.kui-software-key h5 {
    flex: 1;
    text-align: center;
}

.kui-software-key h5:first-child {
    text-align: left;
}

.kui-software-key h5:last-child {
    text-align: right;
}

.kui-software-key h5.disabled {
    opacity: 0.5;
}

/* ============== Toast ============== */
.kui-toast {
    height: 36px;
    line-height: 36px;
    color: var(--toast-text-color);
    text-align: center;
    background-color: var(--toast-bg-color);
}

.kui-toast .kui-pri {
    margin: 0;
}

.kui-toast-shadow {
    height: 6px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
}

/* ============== Lists ============== */
.kui-list {
    list-style: none;
}

.kui-list li {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.kui-list li .kui-list-img {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: var(--separator-bg-color);
    margin-right: 10px;
}

.kui-list-cont p {
    margin: 4px 0;
}

.kui-list-cont .kui-pri {
}

.kui-list-cont .kui-pri.no-wrap,
.kui-list-cont .kui-sec.no-wrap {
    white-space: nowrap;
}

.kui-list-cont .kui-sec {
    opacity: 0.75;
}

.kui-list li:focus,
.kui-list li:hover {
    background-color: var(--accent-light-bg-color);
    outline: 0;
}

.kui-list li:focus .kui-pri,
.kui-list li:focus .kui-sec,
.kui-list li:hover .kui-pri,
.kui-list li:hover .kui-sec {
    color: var(--accent-light-text-color);
}

/* ============== Options menu ============== */
.kui-option-menu {
    width: 100%;
    position: fixed;
    overflow: hidden;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.kui-option-menu.full-screen {
    height: 100%;
}

.kui-option-menu .kui-option-title {
    margin: 0;
    color: var(--menu-title-text-color);
    text-align: center;
    background-color: var(--menu-title-bg-color);
    height: 28px;
    line-height: 28px;
}

.kui-options {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    max-height: calc(100vh - 84px);
    background-color: var(--menu-bg-color);
    color: var(--menu-text-color);
}

.kui-option-menu.full-screen .kui-options {
    flex: 1;
    max-height: unset;
}

.kui-options li {
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    font-size: 1.6rem;
}

.kui-options li:focus,
.kui-options li:hover {
    outline: 0;
    color: var(--accent-light-text-color);
    background-color: var(--accent-light-bg-color);
}

/* ============== Button ============== */
button.kui-btn {
    width: 220px;
    height: 36px;
    border-radius: 2px;
    background: var(--button-bg-color);
    text-align: center;
    color: var(--button-text-color);
    border: 0;
    display: block;
    margin: auto;
}

button.kui-btn:focus {
    outline: 0;
    color: var(--accent-light-text-color);
    background-color: var(--accent-light-bg-color);
}

/* ============== Input ============== */
.kui-input-holder {
    padding: 10px;
}

.kui-input-holder.with-label {
    height: 76px;
}

.kui-input-holder.kui-focus-within {
    background-color: var(--accent-light-bg-color);
    outline: 0;
}

.kui-input-label {
    color: var(--main-text-color);
    display: block;
    padding-bottom: 10px;
}

.kui-input-holder.kui-focus-within .kui-input-label {
    color: var(--accent-light-text-color);
}

.kui-input {
    height: 36px;
    width: 100%;
    border-radius: 2px;
    padding-left: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid var(--input-border-color);
}

.kui-input ::-moz-placeholder,
.kui-input :-moz-placeholder {
    color: var(--main-text-color);
}

.kui-input:focus {
    outline: 0;
}

/* ============== Table ============== */
.kui-table,
.kui-table th,
.kui-table td {
    border: 1px solid var(--accent-dark-bg-color);
    border-collapse: collapse;
}

.kui-table {
    width: 100%;
}

.kui-table thead {
    background-color: var(--accent-dark-bg-color);
    color: var(--accent-dark-text-color);
}

.kui-table tr:focus {
    outline: 0;
    background-color: var(--accent-light-bg-color);
    color: var(--accent-light-text-color);
}

.kui-table td {
    width: 50%;
    padding: 4px 5px;
}

.kui-table td:last-child {
    text-align: right;
}

/* KaiOS portrait devices (240x320) */
@media only screen and (orientation: portrait) {
    /* .content-area {
        height: 236px;
    }

    .kui-option-menu {
        height: 178px;
    }

    .kui-options {
        height: 150px;
    } */
}

/* KaiOS landscape devices (320x240) */
@media screen and (orientation: landscape) {
    /* .content-area {
        height: 156px;
    }

    .kui-option-menu {
        height: 128px;
    }

    .kui-options {
        height: 100px;
    } */
}

/*** The End ******/
