.root {
    /* border: 1px solid red; */
}

.item {
    background-color: lightgray;
    padding: 5px;
}
.item:focus {
    background-color: lightblue;
}
.item:active {
    background-color: pink;
}
.item:hover {
    background-color: green;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(64px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 3px;
    padding: 3px 0;
}

.tile:hover,
.tile:focus {
    outline: #873eff solid;
}

.cover {
    padding-bottom: 100%;
    background-size: contain;
}
